# Byte-compiled / optimized / DLL files
*__pycache__*
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
.env/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# idea
.idea/

# dataset
/model/dataset/
/model/MPIIGaze/

# tensor board log
/model/log/

#dataset
/dataset_gathering/Data/

# model files
.h5
